* {
  box-sizing: border-box;
}

html {
  font-family: "Lato";
  font-weight: 500;
  background-color: orange;
}

body {
    border: 5px solid black;
  align-self: center;
}

header {
  background-color: black;
  justify-items: center;
}

h1 {
  font-weight: 1000;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
}

h2 {
  background-color: black;
  color: white;
}

main {
  background-color: bisque;
}

.introduction {
  display: flex;
}

.about {
  margin-right: 16px;
}

.about h2 {
  background-color: bisque;
  color: black;
}

img {
  display: float;
  width: 256px;
  border-radius: 15px;
  border: 2px solid black;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 16px;
}

.projectsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 8px;
  margin-right: 8px;
  gap: 5px;
}

.hephaestus {
  background-color: powderblue;
}

.hephaestus h3 {
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(56, 216, 237);
}

.verto {
  background-color: rgb(157, 181, 204);
}

.verto h3 {
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(116, 159, 200);
}

.TMI {
  background-color: paleturquoise;
}

.TMI h3 {
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(116, 230, 230);
}

.project {
  border-radius: 5px;
  margin-bottom: 8px;
  border: 2px solid black;
}

.project h3 {
  padding-left: 8px;
}

.project p {
    padding-left: 8px;
    padding-right: 8px;
}

nav {
    display: flex;
}

nav {
    background-color: bisque;
    border: 2px solid black;
}

nav ul {
    padding-left: 4px;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    gap: 10px;
    margin: 0;
}

nav h4 {
    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
    background-color: black;
    color: white;
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

nav li {
    margin-top: 16px;
}

nav a {
    text-decoration: none;    
}

nav li:focus,
nav li:hover {
    margin-top: 3px;
    font-size: 20px;
    background-color: rgb(242, 184, 96);
}
